<div class="container">
    <div [hidden]="submitted">
        <h1>Feedback Form</h1>
        <form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                    #name="ngModel" placeholder="John Doe">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"
                #email="ngModel" placeholder="johndoe@example.com" email>
            </div>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>
            <div class="alert alert-danger" [hidden]="(email.touched && email.valid) || email.pristine">
                Enter a valid email address
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" required [(ngModel)]="model.address" name="address"
                #address="ngModel" placeholder="Street adress, City, State, ZIP">
            </div>
            <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                Address is required
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" required [(ngModel)]="model.phone" name="phone"
                #phone="ngModel" placeholder="9999999999" pattern="[0-9]{10}" minlength="10" maxlength="10">
            </div>
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Phone is required
            </div>
            <div class="alert alert-danger" [hidden]="(phone.touched && phone.valid) || phone.pristine">
                Enter a valid phone number
            </div>

            <div class="form-group">
                <label for="occupation">Occupation</label>
                <select class="form-control" id="occupation" required [(ngModel)]="model.occupation" name="occupation"
                    #occupation="ngModel" placeholder="Please select one option">
                    <option *ngFor="let occup of occupations" [value]="occup">{{occup}}</option>
                </select>
                <div [hidden]="occupation.valid || occupation.pristine" class="alert alert-danger">
                    Occupation is required
                </div>
            </div>

            <div class="form-group">
                <label for="preferredMethodOfContact">Preferred Contact Method</label>
                <select class="form-control" id="preferredMethodOfContact" [(ngModel)]="model.preferredMethodOfContact" name="preferredMethodOfContact"
                    #preferredMethodOfContact="ngModel" placeholder="Please select one option">
                    <option *ngFor="let prefMeth of preferredContactMethods" [value]="prefMeth">{{prefMeth}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea type="text" class="form-control" id="comments" required [(ngModel)]="model.comments" name="comments"
                #comments="ngModel" placeholder="Max 5000 characters" maxlength="5000"></textarea>
            </div>
            <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                Comments are required
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!feedbackForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newFeedback(); feedbackForm.reset()">New
                Feedback</button>

        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Email</div>
            <div class="col-xs-9">{{ model.email }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Address</div>
            <div class="col-xs-9">{{ model.address }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Phone</div>
            <div class="col-xs-9">{{ model.phone }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Preferrred Contact Method</div>
            <div class="col-xs-9">{{ model.preferredMethodOfContact }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Occupation</div>
            <div class="col-xs-9">{{ model.occupation }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Comments</div>
            <div class="col-xs-9">{{ model.comments }}</div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>